<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Book Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Book Title"
                    name="name" 
                    value="<%= book.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Author</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter the Book's Author"
                    name="author" 
                    value="<%= book.author %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Year</label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="Enter the Year of Publication"
                    name="published" 
                    value="<%= book.published %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the a brief description of the book"
                    name="description" 
                    required>
                    <%= book.description %>
                    </textarea>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter the Book's Price"
                    name="price" 
                    value="<%= book.price %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/book-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>