<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add Page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Game Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Game Title"
                    name="name" 
                    value="<%= game.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="developerTextField">Developer</label>
                    <input type="text" class="form-control"
                    id="developerTextField"
                    placeholder="Enter the Game's Developer"
                    name="developer" 
                    value="<%= game.developer %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="releasedTextField">Released</label>
                    <input type="text" class="form-control"
                    id="releasedTextField"
                    placeholder="Enter the Year of Released"
                    name="released" 
                    value="<%= game.released %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextField">Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextField"
                    placeholder="Enter the description of the Game"
                    name="description" required><%= game.description %></textarea>
                </div>

                <div class="form-group">
                    <label for="nameTextField">Price</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter the Game's Price"
                    name="price" 
                    value="<%= game.price %>"
                    required>
                </div>

                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                    <a href="/game-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>